In [1]:
import pandas as pd 
import numpy as np

In [115]:
#ML
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

# 데이터 불러오기

In [299]:
train = pd.read_csv('./train.csv')
train

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700
...,...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600

In [300]:
test = pd.read_csv('./test.csv')
test

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,52.0,20.7,210.0,MALE,9.43146,-24.68440
1,1,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,55.9,17.0,228.0,MALE,8.31180,-26.35425
2,2,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,38.9,18.8,190.0,FEMALE,8.36936,-26.11199
3,3,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,45.2,16.6,191.0,FEMALE,9.62357,-24.78984
4,4,Adelie Penguin (Pygoscelis adeliae),Biscoe,No,37.9,18.6,172.0,FEMALE,8.38404,-25.19837
...,...,...,...,...,...,...,...,...,...,...
223,223,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,MALE,9.88809,-24.59513
224,224,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,FEMALE,8.58487,-26.59290
225,225,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,FEMALE,7.99530,-25.32829
226,226,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,MALE,9.80590,-24.72940
227,227,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,MALE,9.10800,-25.89677

In [301]:
train.dtypes

id                       int64
Species                 object
Island                  object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)      int64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
Body Mass (g)            int64
dtype: object

# 결측치

In [302]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   114 non-null    int64
 1   Species              114 non-null    object
 2   Island               114 non-null    object
 3   Clutch Completion    114 non-null    object
 4   Culmen Length (mm)   114 non-null    float64
 5   Culmen Depth (mm)    114 non-null    float64
 6   Flipper Length (mm)  114 non-null    int64
 7   Sex                  111 non-null    object
 8   Delta 15 N (o/oo)    111 non-null    float64
 9   Delta 13 C (o/oo)    111 non-null    float64
 10  Body Mass (g)        114 non-null    int64
dtypes: float64(4), int64(3), object(4)
memory usage: 9.9+ KB

In [303]:
train_for_cls = train.drop(['Body Mass (g)'], axis=1)
train_for_cls

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272
...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019

In [304]:
test_for_cls = test.copy()

In [323]:
concat_data = pd.concat([train_for_cls, test_for_cls], axis=0).reset_index()
del concat_data['index']
concat_data

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,MALE,8.30515,-25.19017
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200.0,MALE,9.63074,-24.34684
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210.0,FEMALE,8.51951,-27.01854
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214.0,FEMALE,8.20106,-26.16524
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225.0,MALE,8.38324,-26.84272
...,...,...,...,...,...,...,...,...,...,...
337,223,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,MALE,9.88809,-24.59513
338,224,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,FEMALE,8.58487,-26.59290
339,225,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,FEMALE,7.99530,-25.32829
340,226,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,MALE,9.80590,-24.72940
341,227,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,MALE,9.10800,-25.89677

In [324]:
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   342 non-null    int64
 1   Species              342 non-null    object
 2   Island               342 non-null    object
 3   Clutch Completion    342 non-null    object
 4   Culmen Length (mm)   342 non-null    float64
 5   Culmen Depth (mm)    342 non-null    float64
 6   Flipper Length (mm)  342 non-null    float64
 7   Sex                  333 non-null    object
 8   Delta 15 N (o/oo)    330 non-null    float64
 9   Delta 13 C (o/oo)    331 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 26.8+ KB

In [325]:
concat_data['Delta 15 N (o/oo)'].fillna(concat_data['Delta 15 N (o/oo)'].median(), inplace=True)

In [326]:
concat_data['Delta 13 C (o/oo)'].fillna(concat_data['Delta 13 C (o/oo)'].median(), inplace=True)

In [327]:
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   342 non-null    int64
 1   Species              342 non-null    object
 2   Island               342 non-null    object
 3   Clutch Completion    342 non-null    object
 4   Culmen Length (mm)   342 non-null    float64
 5   Culmen Depth (mm)    342 non-null    float64
 6   Flipper Length (mm)  342 non-null    float64
 7   Sex                  333 non-null    object
 8   Delta 15 N (o/oo)    342 non-null    float64
 9   Delta 13 C (o/oo)    342 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 26.8+ KB

In [328]:
concat_data

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,MALE,8.30515,-25.19017
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200.0,MALE,9.63074,-24.34684
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210.0,FEMALE,8.51951,-27.01854
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214.0,FEMALE,8.20106,-26.16524
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225.0,MALE,8.38324,-26.84272
...,...,...,...,...,...,...,...,...,...,...
337,223,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,MALE,9.88809,-24.59513
338,224,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,FEMALE,8.58487,-26.59290
339,225,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,FEMALE,7.99530,-25.32829
340,226,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,MALE,9.80590,-24.72940
341,227,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,MALE,9.10800,-25.89677

In [329]:
train = concat_data[concat_data['Sex'].isnull()==False]
test = concat_data[concat_data['Sex'].isnull()==True]

In [330]:
X_train = train.drop(['id', 'Sex'], axis=1)
Y_train = train[['Sex']]

X_test = test.drop(['id', 'Sex'], axis=1)
Y_test = test[['Sex']]

In [331]:
X_train

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,8.30515,-25.19017
1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200.0,9.63074,-24.34684
2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210.0,8.51951,-27.01854
3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214.0,8.20106,-26.16524
4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225.0,8.38324,-26.84272
...,...,...,...,...,...,...,...,...
337,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,9.88809,-24.59513
338,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,8.58487,-26.59290
339,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,7.99530,-25.32829
340,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,9.80590,-24.72940
341,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,9.10800,-25.89677

In [332]:
from sklearn.preprocessing import LabelEncoder

# 라벨 인코더 생성
encoder = LabelEncoder()

# X_train데이터를 이용 피팅하고 라벨숫자로 변환한다
X_train['Species'] = encoder.fit_transform(X_train['Species'])
X_train['Island'] = encoder.fit_transform(X_train['Island'])
X_train['Clutch Completion'] = encoder.fit_transform(X_train['Clutch Completion'])
X_train

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
0,2,0,1,50.0,15.3,220.0,8.30515,-25.19017
1,1,1,0,49.5,19.0,200.0,9.63074,-24.34684
2,2,0,1,45.1,14.4,210.0,8.51951,-27.01854
3,2,0,1,44.5,14.7,214.0,8.20106,-26.16524
4,2,0,0,49.6,16.0,225.0,8.38324,-26.84272
...,...,...,...,...,...,...,...,...
337,1,1,1,49.3,19.9,203.0,9.88809,-24.59513
338,2,0,1,46.5,14.8,217.0,8.58487,-26.59290
339,2,0,1,46.5,13.5,210.0,7.99530,-25.32829
340,1,1,1,50.5,19.6,201.0,9.80590,-24.72940
341,0,0,1,37.6,19.1,194.0,9.10800,-25.89677

In [333]:
X_test

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
6,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,42.0,20.2,190.0,9.133620,-25.09368
8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193.0,8.652405,-25.83352
70,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.2,14.4,214.0,8.242530,-26.81540
160,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.1,186.0,8.632430,-25.21315
195,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,37.5,18.9,179.0,8.652405,-25.83352
212,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,47.3,13.8,216.0,8.258180,-26.23886
266,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,15.7,217.0,8.041110,-26.18444
319,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.3,180.0,8.652405,-25.83352
323,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.3,216.0,7.966210,-25.69327

In [334]:
X_test['Species'] = encoder.fit_transform(X_test['Species'])
X_test['Island'] = encoder.fit_transform(X_test['Island'])
X_test['Clutch Completion'] = encoder.fit_transform(X_test['Clutch Completion'])
X_test

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
6,0,2,0,42.0,20.2,190.0,9.133620,-25.09368
8,0,2,0,34.1,18.1,193.0,8.652405,-25.83352
70,1,0,0,46.2,14.4,214.0,8.242530,-26.81540
160,0,2,0,37.8,17.1,186.0,8.632430,-25.21315
195,0,1,0,37.5,18.9,179.0,8.652405,-25.83352
212,1,0,0,47.3,13.8,216.0,8.258180,-26.23886
266,1,0,0,44.5,15.7,217.0,8.041110,-26.18444
319,0,2,0,37.8,17.3,180.0,8.652405,-25.83352
323,1,0,0,44.5,14.3,216.0,7.966210,-25.69327

## RF로 성별 예측해서 결측치 채우기

In [335]:
random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(X_train, Y_train)

Y_pred = random_forest.predict(X_test)

Y_pred

C:\Users\LDCC\anaconda3\envs\ve_prac\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

array(['MALE', 'FEMALE', 'FEMALE', 'FEMALE', 'MALE', 'FEMALE', 'FEMALE',
       'FEMALE', 'FEMALE'], dtype=object)

In [340]:
y_pred_idx = 0
for i in range(len(concat_data)):
    if pd.isna(concat_data.iloc[i].Sex):
        concat_data.iloc[i, 7] = Y_pred[y_pred_idx]
        y_pred_idx +=1

# 다시 train, test set으로 나누기

In [344]:
concat_data[concat_data['id'] == 0]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,MALE,8.30515,-25.19017
114,0,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,52.0,20.7,210.0,MALE,9.43146,-24.68440

In [346]:
train = concat_data[0:114]
train

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,MALE,8.305150,-25.19017
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200.0,MALE,9.630740,-24.34684
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210.0,FEMALE,8.519510,-27.01854
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214.0,FEMALE,8.201060,-26.16524
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225.0,MALE,8.383240,-26.84272
...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185.0,FEMALE,8.652405,-25.83352
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190.0,MALE,9.110060,-25.79549
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192.0,MALE,8.970250,-26.03679
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192.0,FEMALE,9.805890,-24.73735
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228.0,MALE,8.274280,-26.30019

In [347]:
test = concat_data[114:]
test

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
114,0,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,52.0,20.7,210.0,MALE,9.43146,-24.68440
115,1,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,55.9,17.0,228.0,MALE,8.31180,-26.35425
116,2,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,38.9,18.8,190.0,FEMALE,8.36936,-26.11199
117,3,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,45.2,16.6,191.0,FEMALE,9.62357,-24.78984
118,4,Adelie Penguin (Pygoscelis adeliae),Biscoe,No,37.9,18.6,172.0,FEMALE,8.38404,-25.19837
...,...,...,...,...,...,...,...,...,...,...
337,223,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,MALE,9.88809,-24.59513
338,224,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,FEMALE,8.58487,-26.59290
339,225,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,FEMALE,7.99530,-25.32829
340,226,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,MALE,9.80590,-24.72940
341,227,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,MALE,9.10800,-25.89677

In [100]:
concat_data_dum = pd.get_dummies(concat_data)
concat_data_dum

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo),Species_Adelie Penguin (Pygoscelis adeliae),Species_Chinstrap penguin (Pygoscelis antarctica),Species_Gentoo penguin (Pygoscelis papua),Island_Biscoe,Island_Dream,Island_Torgersen,Clutch Completion_No,Clutch Completion_Yes,Sex_FEMALE,Sex_MALE
0,50.0,15.3,220.0,8.30515,-25.19017,0,0,1,1,0,0,0,1,0,1
1,49.5,19.0,200.0,9.63074,-24.34684,0,1,0,0,1,0,1,0,0,1
2,45.1,14.4,210.0,8.51951,-27.01854,0,0,1,1,0,0,0,1,1,0
3,44.5,14.7,214.0,8.20106,-26.16524,0,0,1,1,0,0,0,1,1,0
4,49.6,16.0,225.0,8.38324,-26.84272,0,0,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,49.3,19.9,203.0,9.88809,-24.59513,0,1,0,0,1,0,0,1,0,1
224,46.5,14.8,217.0,8.58487,-26.59290,0,0,1,1,0,0,0,1,1,0
225,46.5,13.5,210.0,7.99530,-25.32829,0,0,1,1,0,0,0,1,1,0
226,50.5,19.6,201.0,9.80590,-24.72940,0,1,0,0,1,0,0,1,0,1
227,37.6,19.1,194.0,9.10800,-25.89677,1,0,0,1,0,0,0,1,0,1

In [54]:
train.describe()

,id,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
count,114.000000,114.000000,114.000000,114.000000,111.000000,111.000000,114.000000
mean,56.500000,44.613158,17.014912,203.052632,8.737634,-25.723051,4327.850877
std,33.052988,5.321829,1.941363,14.653425,0.567698,0.859786,781.766484
min,0.000000,33.500000,13.200000,174.000000,7.632200,-27.018540,2700.000000
25%,28.250000,40.325000,15.225000,190.000000,8.272585,-26.434025,3675.000000
50%,56.500000,45.200000,17.250000,199.000000,8.632590,-25.955410,4250.000000
75%,84.750000,49.075000,18.600000,216.000000,9.264635,-25.005945,4850.000000
max,113.000000,55.100000,21.100000,231.000000,10.025440,-24.102550,6300.000000

In [55]:
train[train['Sex'].isnull()==True]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
6,6,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,42.0,20.2,190,NaN,9.13362,-25.09368,4250
8,8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193,NaN,NaN,NaN,3475
70,70,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.2,14.4,214,NaN,8.24253,-26.81540,4650

In [56]:
train[train['Delta 15 N (o/oo)'].isnull()==True]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
8,8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193,NaN,NaN,NaN,3475
18,18,Adelie Penguin (Pygoscelis adeliae),Dream,No,39.8,19.1,184,MALE,NaN,NaN,4650
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700

In [57]:
train[train['Delta 13 C (o/oo)'].isnull()==True]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
8,8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193,NaN,NaN,NaN,3475
18,18,Adelie Penguin (Pygoscelis adeliae),Dream,No,39.8,19.1,184,MALE,NaN,NaN,4650
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700

## train 결측치 삭제

In [58]:
train = train.dropna(axis=0)
train

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700
...,...,...,...,...,...,...,...,...,...,...,...
108,108,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.0,19.6,212,MALE,9.34089,-24.45189,4300
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600

In [59]:
train = train.dropna(axis=1)
train

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700
...,...,...,...,...,...,...,...,...,...,...,...
108,108,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.0,19.6,212,MALE,9.34089,-24.45189,4300
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600

In [60]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   109 non-null    int64
 1   Species              109 non-null    object
 2   Island               109 non-null    object
 3   Clutch Completion    109 non-null    object
 4   Culmen Length (mm)   109 non-null    float64
 5   Culmen Depth (mm)    109 non-null    float64
 6   Flipper Length (mm)  109 non-null    int64
 7   Sex                  109 non-null    object
 8   Delta 15 N (o/oo)    109 non-null    float64
 9   Delta 13 C (o/oo)    109 non-null    float64
 10  Body Mass (g)        109 non-null    int64
dtypes: float64(4), int64(3), object(4)
memory usage: 10.2+ KB

In [61]:
del train['id']
train

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550
1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800
2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400
3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850
4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700
...,...,...,...,...,...,...,...,...,...,...
108,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.0,19.6,212,MALE,9.34089,-24.45189,4300
110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250
111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100
112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700
113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600

## test 결측치 대체

In [62]:
test.describe()

,id,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
count,228.00000,228.000000,228.000000,228.000000,219.000000,220.000000
mean,113.50000,43.576316,17.219298,199.846491,8.731226,-25.667745
std,65.96211,5.506157,1.992027,13.663938,0.544827,0.759964
min,0.00000,32.100000,13.100000,172.000000,7.685280,-26.864850
25%,56.75000,38.900000,15.700000,189.750000,8.325385,-26.236812
50%,113.50000,43.250000,17.500000,196.000000,8.675380,-25.806100
75%,170.25000,48.100000,18.700000,212.000000,9.109330,-25.115125
max,227.00000,59.600000,21.500000,230.000000,10.023720,-23.787670

In [63]:
test.isnull().sum()

id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    6
Delta 15 N (o/oo)      9
Delta 13 C (o/oo)      8
dtype: int64

In [65]:
test[test['Sex'].isnull()]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
46,46,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.1,186.0,NaN,8.63243,-25.21315
81,81,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,37.5,18.9,179.0,NaN,NaN,NaN
98,98,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,47.3,13.8,216.0,NaN,8.25818,-26.23886
152,152,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,15.7,217.0,NaN,8.04111,-26.18444
205,205,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.3,180.0,NaN,NaN,NaN
209,209,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.3,216.0,NaN,7.96621,-25.69327

In [71]:
test.groupby(['Species', 'Island', 'Clutch Completion', 'Sex']).count()

                                                                              id  \
Species                                   Island    Clutch Completion Sex
Adelie Penguin (Pygoscelis adeliae)       Biscoe    No                FEMALE   1
                                                                      MALE     1
                                                    Yes               FEMALE  16
                                                                      MALE    17
                                          Dream     No                FEMALE   1
                                                    Yes               FEMALE  18
                                                                      MALE    17
                                          Torgersen No                FEMALE   4
                                                                      MALE     4
                                                    Yes               FEMALE  15
                                                                      MALE    13
Chinstrap penguin (Pygoscelis antarctica) Dream     No                FEMALE   4
                                                                      MALE     3
                                                    Yes               FEMALE  16
                                                                      MALE    20
Gentoo penguin (Pygoscelis papua)         Biscoe    No                FEMALE   4
                                                                      MALE     1
                                                    Yes               FEMALE  31
                                                                      MALE    36

                                                                              Culmen Length (mm)  \
Species                                   Island    Clutch Completion Sex
Adelie Penguin (Pygoscelis adeliae)       Biscoe    No                FEMALE                   1
                                                                      MALE                     1
                                                    Yes               FEMALE                  16
                                                                      MALE                    17
                                          Dream     No                FEMALE                   1
                                                    Yes               FEMALE                  18
                                                                      MALE                    17
                                          Torgersen No                FEMALE                   4
                                                                      MALE                     4
                                                    Yes               FEMALE                  15
                                                                      MALE                    13
Chinstrap penguin (Pygoscelis antarctica) Dream     No                FEMALE                   4
                                                                      MALE                     3
                                                    Yes               FEMALE                  16
                                                                      MALE                    20
Gentoo penguin (Pygoscelis papua)         Biscoe    No                FEMALE                   4
                                                                      MALE                     1
                                                    Yes               FEMALE                  31
                                                                      MALE                    36

                                                                              Culmen Depth (mm)  \
Species                                   Island    Clutch Completion Sex
Adelie Penguin (Pygoscelis adeliae)       Biscoe    No                FEMALE                  1
                                                                      MALE                    1
                                                    Yes               FEMALE                 16
                                                                      MALE                   17
                                          Dream     No                FEMALE                  1
                                                    Yes               FEMALE                 18
                                                                      MALE                   17
                                          Torgersen No                FEMALE                  4
                                                                      MALE                    4
                                                    Yes               FEMALE                 15
                                                                      MALE                   13
Chinstrap penguin (Pygoscelis antarctica) Dream     No                FEMALE                  4
                                                                      MALE                    3
                                                    Yes               FEMALE                 16
                                                                      MALE                   20
Gentoo penguin (Pygoscelis papua)         Biscoe    No                FEMALE                  4
                                                                      MALE                    1
                                                    Yes               FEMALE                 31
                                                                      MALE                   36

                                                                              Flipper Length (mm)  \
Species                                   Island    Clutch Completion Sex
Adelie Penguin (Pygoscelis adeliae)       Biscoe    No                FEMALE                    1
                                                                      MALE                      1
                                                    Yes               FEMALE                   16
                                                                      MALE                     17
                                          Dream     No                FEMALE                    1
                                                    Yes               FEMALE                   18
                                                                      MALE                     17
                                          Torgersen No                FEMALE                    4
                                                                      MALE                      4
                                                    Yes               FEMALE                   15
                                                                      MALE                     13
Chinstrap penguin (Pygoscelis antarctica) Dream     No                FEMALE                    4
                                                                      MALE                      3
                                                    Yes               FEMALE                   16
                                                                      MALE                     20
Gentoo penguin (Pygoscelis papua)         Biscoe    No                FEMALE                    4
                                                                      MALE                      1
                                                    Yes               FEMALE                   31
                                                                      MALE                     36

                                                                              Delta 15 N (o/oo)  \
Species                                   Island    Clutch Completion Sex
Adelie Penguin (Pygoscelis adeliae)       Biscoe    No                FEMALE                  1
                                                                      MALE                    1
                                                    Yes               FEMALE                 16
                                                                      MALE                   17
                                          Dream     No                FEMALE                  1
                                                    Yes               FEMALE                 18
                                                                      MALE                   15
                                          Torgersen No                FEMALE                  4
                                                                      MALE                    4
                                                    Yes               FEMALE                 14
                                                                      MALE                   11
Chinstrap penguin (Pygoscelis antarctica) Dream     No                FEMALE                  4
                                                                      MALE                    3
                                                    Yes               FEMALE                 16
                                                                      MALE                   19
Gentoo penguin (Pygoscelis papua)         Biscoe    No                FEMALE                  4
                                                                      MALE                    1
                                                    Yes               FEMALE                 31
                                                                      MALE                   35

                                                                              Delta 13 C (o/oo)
Species                                   Island    Clutch Completion Sex
Adelie Penguin (Pygoscelis adeliae)       Biscoe    No                FEMALE                  1
                                                                      MALE                    1
                                                    Yes               FEMALE                 16
                                                                      MALE                   17
                                          Dream     No                FEMALE                  1
                                                    Yes               FEMALE                 18
                                                                      MALE                   15
                                          Torgersen No                FEMALE                  4
                                                                      MALE                    4
                                                    Yes               FEMALE                 14
                                                                      MALE                   11
Chinstrap penguin (Pygoscelis antarctica) Dream     No                FEMALE                  4
                                                                      MALE                    3
                                                    Yes               FEMALE                 16
                                                                      MALE                   20
Gentoo penguin (Pygoscelis papua)         Biscoe    No                FEMALE                  4
                                                                      MALE                    1
                                                    Yes               FEMALE                 31
                                                                      MALE                   35

46 -

In [74]:
test['Sex'].iloc[46]

nan

In [66]:
test[test['Delta 15 N (o/oo)'].isnull()]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
27,27,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,38.6,21.2,191.0,MALE,NaN,NaN
75,75,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,51.9,19.5,206.0,MALE,NaN,-23.78767
81,81,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,37.5,18.9,179.0,NaN,NaN,NaN
106,106,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,47.3,15.3,222.0,MALE,NaN,NaN
159,159,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,41.1,17.6,182.0,FEMALE,NaN,NaN
175,175,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,40.8,18.4,195.0,MALE,NaN,NaN
202,202,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,39.1,18.7,181.0,MALE,NaN,NaN
205,205,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.3,180.0,NaN,NaN,NaN
215,215,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,41.1,19.0,182.0,MALE,NaN,NaN

In [67]:
test[test['Delta 13 C (o/oo)'].isnull()]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
27,27,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,38.6,21.2,191.0,MALE,NaN,NaN
81,81,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,37.5,18.9,179.0,NaN,NaN,NaN
106,106,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,47.3,15.3,222.0,MALE,NaN,NaN
159,159,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,41.1,17.6,182.0,FEMALE,NaN,NaN
175,175,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,40.8,18.4,195.0,MALE,NaN,NaN
202,202,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,39.1,18.7,181.0,MALE,NaN,NaN
205,205,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.3,180.0,NaN,NaN,NaN
215,215,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,41.1,19.0,182.0,MALE,NaN,NaN

In [40]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

In [41]:
train.columns

Index(['Species', 'Island', 'Clutch Completion', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Sex', 'Delta 15 N (o/oo)',
       'Delta 13 C (o/oo)', 'Body Mass (g)'],
      dtype='object')

In [43]:
X = train[['Species', 'Island', 'Clutch Completion', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Sex', 'Delta 15 N (o/oo)',
       'Delta 13 C (o/oo)']]
y = np.log1p(train['Body Mass (g)'])

In [44]:
X = pd.get_dummies(columns = ['Species', 'Island', 'Clutch Completion', 'Sex'], data = X)

In [45]:
target = test[['Species', 'Island', 'Clutch Completion', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Sex', 'Delta 15 N (o/oo)',
       'Delta 13 C (o/oo)']]

In [46]:
target = pd.get_dummies(columns = ['Species', 'Island', 'Clutch Completion', 'Sex'], data = target)

In [47]:
kf = KFold(n_splits =  10, shuffle = True, random_state = 42)

In [48]:
gbm = GradientBoostingRegressor(random_state = 42)

In [49]:
rmse_list = []
gb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    gbm.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in gbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in gbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    gb_pred += (sub_pred / 10)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').