In [1]:
import pandas as pd 
import numpy as np

In [383]:
#ML
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

# 데이터 불러오기

In [384]:
train = pd.read_csv('./train.csv')
train

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700
...,...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600

In [385]:
test = pd.read_csv('./test.csv')
test

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,52.0,20.7,210.0,MALE,9.43146,-24.68440
1,1,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,55.9,17.0,228.0,MALE,8.31180,-26.35425
2,2,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,38.9,18.8,190.0,FEMALE,8.36936,-26.11199
3,3,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,45.2,16.6,191.0,FEMALE,9.62357,-24.78984
4,4,Adelie Penguin (Pygoscelis adeliae),Biscoe,No,37.9,18.6,172.0,FEMALE,8.38404,-25.19837
...,...,...,...,...,...,...,...,...,...,...
223,223,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,MALE,9.88809,-24.59513
224,224,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,FEMALE,8.58487,-26.59290
225,225,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,FEMALE,7.99530,-25.32829
226,226,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,MALE,9.80590,-24.72940
227,227,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,MALE,9.10800,-25.89677

In [386]:
train.dtypes

id                       int64
Species                 object
Island                  object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)      int64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
Body Mass (g)            int64
dtype: object

# 결측치

In [387]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   114 non-null    int64
 1   Species              114 non-null    object
 2   Island               114 non-null    object
 3   Clutch Completion    114 non-null    object
 4   Culmen Length (mm)   114 non-null    float64
 5   Culmen Depth (mm)    114 non-null    float64
 6   Flipper Length (mm)  114 non-null    int64
 7   Sex                  111 non-null    object
 8   Delta 15 N (o/oo)    111 non-null    float64
 9   Delta 13 C (o/oo)    111 non-null    float64
 10  Body Mass (g)        114 non-null    int64
dtypes: float64(4), int64(3), object(4)
memory usage: 9.9+ KB

In [389]:
train_mass = train[['Body Mass (g)']]
train_mass

     Body Mass (g)
0             5550
1             3800
2             4400
3             4850
4             5700
..             ...
109           3700
110           4250
111           4100
112           2700
113           5600

[114 rows x 1 columns]

In [390]:
train_for_cls = train.drop(['Body Mass (g)'], axis=1)
train_for_cls

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272
...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019

In [391]:
test_for_cls = test.copy()

In [392]:
concat_data = pd.concat([train_for_cls, test_for_cls], axis=0).reset_index()
del concat_data['index']
concat_data

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,MALE,8.30515,-25.19017
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200.0,MALE,9.63074,-24.34684
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210.0,FEMALE,8.51951,-27.01854
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214.0,FEMALE,8.20106,-26.16524
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225.0,MALE,8.38324,-26.84272
...,...,...,...,...,...,...,...,...,...,...
337,223,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,MALE,9.88809,-24.59513
338,224,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,FEMALE,8.58487,-26.59290
339,225,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,FEMALE,7.99530,-25.32829
340,226,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,MALE,9.80590,-24.72940
341,227,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,MALE,9.10800,-25.89677

In [393]:
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   342 non-null    int64
 1   Species              342 non-null    object
 2   Island               342 non-null    object
 3   Clutch Completion    342 non-null    object
 4   Culmen Length (mm)   342 non-null    float64
 5   Culmen Depth (mm)    342 non-null    float64
 6   Flipper Length (mm)  342 non-null    float64
 7   Sex                  333 non-null    object
 8   Delta 15 N (o/oo)    330 non-null    float64
 9   Delta 13 C (o/oo)    331 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 26.8+ KB

In [394]:
concat_data['Delta 15 N (o/oo)'].fillna(concat_data['Delta 15 N (o/oo)'].median(), inplace=True)

In [395]:
concat_data['Delta 13 C (o/oo)'].fillna(concat_data['Delta 13 C (o/oo)'].median(), inplace=True)

In [396]:
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   342 non-null    int64
 1   Species              342 non-null    object
 2   Island               342 non-null    object
 3   Clutch Completion    342 non-null    object
 4   Culmen Length (mm)   342 non-null    float64
 5   Culmen Depth (mm)    342 non-null    float64
 6   Flipper Length (mm)  342 non-null    float64
 7   Sex                  333 non-null    object
 8   Delta 15 N (o/oo)    342 non-null    float64
 9   Delta 13 C (o/oo)    342 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 26.8+ KB

In [397]:
concat_data

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,MALE,8.30515,-25.19017
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200.0,MALE,9.63074,-24.34684
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210.0,FEMALE,8.51951,-27.01854
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214.0,FEMALE,8.20106,-26.16524
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225.0,MALE,8.38324,-26.84272
...,...,...,...,...,...,...,...,...,...,...
337,223,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,MALE,9.88809,-24.59513
338,224,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,FEMALE,8.58487,-26.59290
339,225,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,FEMALE,7.99530,-25.32829
340,226,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,MALE,9.80590,-24.72940
341,227,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,MALE,9.10800,-25.89677

In [398]:
train = concat_data[concat_data['Sex'].isnull()==False]
test = concat_data[concat_data['Sex'].isnull()==True]

In [399]:
X_train = train.drop(['id', 'Sex'], axis=1)
Y_train = train[['Sex']]

X_test = test.drop(['id', 'Sex'], axis=1)
Y_test = test[['Sex']]

In [400]:
X_train

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,8.30515,-25.19017
1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200.0,9.63074,-24.34684
2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210.0,8.51951,-27.01854
3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214.0,8.20106,-26.16524
4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225.0,8.38324,-26.84272
...,...,...,...,...,...,...,...,...
337,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,9.88809,-24.59513
338,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,8.58487,-26.59290
339,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,7.99530,-25.32829
340,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,9.80590,-24.72940
341,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,9.10800,-25.89677

In [401]:
from sklearn.preprocessing import LabelEncoder

# 라벨 인코더 생성
encoder = LabelEncoder()

# X_train데이터를 이용 피팅하고 라벨숫자로 변환한다
X_train['Species'] = encoder.fit_transform(X_train['Species'])
X_train['Island'] = encoder.fit_transform(X_train['Island'])
X_train['Clutch Completion'] = encoder.fit_transform(X_train['Clutch Completion'])
X_train

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
0,2,0,1,50.0,15.3,220.0,8.30515,-25.19017
1,1,1,0,49.5,19.0,200.0,9.63074,-24.34684
2,2,0,1,45.1,14.4,210.0,8.51951,-27.01854
3,2,0,1,44.5,14.7,214.0,8.20106,-26.16524
4,2,0,0,49.6,16.0,225.0,8.38324,-26.84272
...,...,...,...,...,...,...,...,...
337,1,1,1,49.3,19.9,203.0,9.88809,-24.59513
338,2,0,1,46.5,14.8,217.0,8.58487,-26.59290
339,2,0,1,46.5,13.5,210.0,7.99530,-25.32829
340,1,1,1,50.5,19.6,201.0,9.80590,-24.72940
341,0,0,1,37.6,19.1,194.0,9.10800,-25.89677

In [402]:
X_test

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
6,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,42.0,20.2,190.0,9.133620,-25.09368
8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193.0,8.652405,-25.83352
70,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.2,14.4,214.0,8.242530,-26.81540
160,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.1,186.0,8.632430,-25.21315
195,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,37.5,18.9,179.0,8.652405,-25.83352
212,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,47.3,13.8,216.0,8.258180,-26.23886
266,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,15.7,217.0,8.041110,-26.18444
319,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.3,180.0,8.652405,-25.83352
323,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.3,216.0,7.966210,-25.69327

In [403]:
X_test['Species'] = encoder.fit_transform(X_test['Species'])
X_test['Island'] = encoder.fit_transform(X_test['Island'])
X_test['Clutch Completion'] = encoder.fit_transform(X_test['Clutch Completion'])
X_test

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo)
6,0,2,0,42.0,20.2,190.0,9.133620,-25.09368
8,0,2,0,34.1,18.1,193.0,8.652405,-25.83352
70,1,0,0,46.2,14.4,214.0,8.242530,-26.81540
160,0,2,0,37.8,17.1,186.0,8.632430,-25.21315
195,0,1,0,37.5,18.9,179.0,8.652405,-25.83352
212,1,0,0,47.3,13.8,216.0,8.258180,-26.23886
266,1,0,0,44.5,15.7,217.0,8.041110,-26.18444
319,0,2,0,37.8,17.3,180.0,8.652405,-25.83352
323,1,0,0,44.5,14.3,216.0,7.966210,-25.69327

## RF로 성별 예측해서 결측치 채우기

In [404]:
random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(X_train, Y_train)

Y_pred = random_forest.predict(X_test)

Y_pred

C:\Users\LDCC\anaconda3\envs\ve_prac\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

array(['MALE', 'FEMALE', 'FEMALE', 'FEMALE', 'MALE', 'FEMALE', 'FEMALE',
       'FEMALE', 'FEMALE'], dtype=object)

In [405]:
y_pred_idx = 0
for i in range(len(concat_data)):
    if pd.isna(concat_data.iloc[i].Sex):
        concat_data.iloc[i, 7] = Y_pred[y_pred_idx]
        y_pred_idx +=1

In [406]:
concat_data.isnull().sum()

id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    0
Delta 15 N (o/oo)      0
Delta 13 C (o/oo)      0
dtype: int64

# 다시 train, test set으로 나누기

In [407]:
concat_data[concat_data['id'] == 0]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,MALE,8.30515,-25.19017
114,0,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,52.0,20.7,210.0,MALE,9.43146,-24.68440

In [408]:
train_dn = concat_data[0:114]
train_dn

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220.0,MALE,8.305150,-25.19017
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200.0,MALE,9.630740,-24.34684
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210.0,FEMALE,8.519510,-27.01854
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214.0,FEMALE,8.201060,-26.16524
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225.0,MALE,8.383240,-26.84272
...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185.0,FEMALE,8.652405,-25.83352
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190.0,MALE,9.110060,-25.79549
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192.0,MALE,8.970250,-26.03679
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192.0,FEMALE,9.805890,-24.73735
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228.0,MALE,8.274280,-26.30019

In [409]:
test_dn = concat_data[114:]
test_dn

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
114,0,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,52.0,20.7,210.0,MALE,9.43146,-24.68440
115,1,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,55.9,17.0,228.0,MALE,8.31180,-26.35425
116,2,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,38.9,18.8,190.0,FEMALE,8.36936,-26.11199
117,3,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,45.2,16.6,191.0,FEMALE,9.62357,-24.78984
118,4,Adelie Penguin (Pygoscelis adeliae),Biscoe,No,37.9,18.6,172.0,FEMALE,8.38404,-25.19837
...,...,...,...,...,...,...,...,...,...,...
337,223,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,49.3,19.9,203.0,MALE,9.88809,-24.59513
338,224,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,14.8,217.0,FEMALE,8.58487,-26.59290
339,225,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.5,13.5,210.0,FEMALE,7.99530,-25.32829
340,226,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,50.5,19.6,201.0,MALE,9.80590,-24.72940
341,227,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,37.6,19.1,194.0,MALE,9.10800,-25.89677

# 모델링

In [410]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

In [412]:
train_dn.columns

Index(['id', 'Species', 'Island', 'Clutch Completion', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Sex', 'Delta 15 N (o/oo)',
       'Delta 13 C (o/oo)'],
      dtype='object')

In [413]:
X = train_dn[['Species', 'Island', 'Clutch Completion', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Sex', 'Delta 15 N (o/oo)',
       'Delta 13 C (o/oo)']]
y = np.log1p(train_mass['Body Mass (g)'])

In [414]:
X = pd.get_dummies(columns = ['Species', 'Island', 'Clutch Completion', 'Sex'], data = X)

In [415]:
target = test_dn[['Species', 'Island', 'Clutch Completion', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Sex', 'Delta 15 N (o/oo)',
       'Delta 13 C (o/oo)']]

In [416]:
target = pd.get_dummies(columns = ['Species', 'Island', 'Clutch Completion', 'Sex'], data = target)

In [417]:
kf = KFold(n_splits =  10, shuffle = True, random_state = 42)

In [421]:
gbm = GradientBoostingRegressor(random_state = 42)

In [425]:
gbm = GradientBoostingRegressor(random_state = 42)
gbm.fit(X, y)
# test 데이터 예측
pred = gbm.predict(target)
pred

array([8.35204187, 8.62687409, 8.16503544, 8.13648485, 8.19977863,
       8.33027769, 8.43015313, 8.50745058, 8.49427964, 8.30634782,
       8.32927119, 8.48910492, 8.45198656, 8.46338791, 8.51680425,
       8.49831143, 8.2633635 , 8.32036264, 8.11788943, 8.14650309,
       8.31089995, 8.63783546, 8.60528829, 8.29873185, 8.13729896,
       8.42988202, 8.1939298 , 8.23505077, 8.2977275 , 8.4129017 ,
       8.16532662, 8.46494682, 8.27747377, 8.5577828 , 8.21642755,
       8.11251725, 8.43602166, 8.18880316, 8.2950884 , 8.45836713,
       8.25949752, 8.15630736, 8.29274858, 8.58960378, 8.23663127,
       8.41088772, 8.15999003, 8.30775364, 8.44117291, 8.60167323,
       8.17122644, 8.32837571, 8.15577224, 8.32925805, 8.33400935,
       8.21605733, 8.46133289, 8.31070402, 8.44605727, 8.16116652,
       8.18322779, 8.1439055 , 8.21642755, 8.63849437, 8.17848116,
       8.33706604, 8.34214351, 8.42433977, 8.28607604, 8.23539193,
       8.45045326, 7.96037893, 8.1587156 , 8.15862112, 8.60808181,
       8.46049193, 8.08368309, 8.16224402, 8.55010652, 8.35725781,
       8.37146292, 8.30231598, 8.35368256, 8.39336255, 8.52786438,
       8.34288299, 8.562954  , 8.28663873, 8.17679484, 8.50554196,
       8.46684943, 8.19593974, 8.17533746, 8.22926353, 8.10886025,
       8.02426854, 8.15893591, 8.18771329, 8.44683627, 8.32745907,
       8.15830635, 8.11217378, 8.07585673, 8.55198074, 8.6323852 ,
       8.15910392, 8.5538799 , 8.53850833, 8.41534668, 8.0502593 ,
       8.48093824, 8.07300179, 8.32292523, 8.29694399, 8.51346267,
       8.25612734, 8.17696654, 8.19182952, 8.237121  , 8.29118853,
       8.19016042, 8.51376862, 8.10747015, 8.48420206, 8.18162594,
       8.32196602, 8.48607599, 8.31282036, 8.10055483, 8.29921332,
       8.29178193, 8.28848996, 8.52495806, 8.49056149, 8.51184074,
       8.28604968, 8.18624561, 8.14007401, 8.42628261, 8.15178891,
       8.26718402, 8.46962212, 8.09387839, 8.13067555, 8.46399928,
       8.15719713, 8.45632645, 8.1769689 , 8.61805729, 8.33394271,
       8.47383103, 8.21037021, 8.50011542, 8.56023704, 8.28408937,
       8.66768056, 8.15594563, 8.28644561, 8.15752446, 8.20526192,
       8.28628447, 8.16205906, 8.21762984, 8.09802775, 8.49378563,
       8.12161659, 8.62891052, 8.46139656, 8.29514429, 8.26095152,
       8.62223826, 8.21104611, 8.57475741, 8.14922473, 8.18591713,
       8.35093126, 8.32744914, 8.3794356 , 8.54235463, 8.16183749,
       8.27893266, 8.32546956, 8.21100142, 8.46681285, 8.46924647,
       8.32471194, 8.49089183, 8.50786893, 8.16053226, 8.05481051,
       8.34940097, 8.17231599, 8.16950058, 8.35025493, 8.50260729,
       8.56774663, 8.23802744, 8.49552349, 8.168392  , 8.11397833,
       8.27234089, 8.44368033, 8.32552566, 8.44241044, 8.26656054,
       8.18072228, 8.15689834, 8.32166446, 8.48538149, 8.44581079,
       8.18398979, 8.1221465 , 8.15664503, 8.12641031, 8.22441091,
       8.32695136, 8.63253626, 8.29801905, 8.37569865, 8.30868993,
       8.16070358, 8.10278459, 8.45259505, 8.30599888, 8.47113932,
       8.37937414, 8.17919848, 8.2916953 ])

In [426]:
submission = pd.read_csv('./sample_submission.csv')
submission

      id  Body Mass (g)
0      0              0
1      1              0
2      2              0
3      3              0
4      4              0
..   ...            ...
223  223              0
224  224              0
225  225              0
226  226              0
227  227              0

[228 rows x 2 columns]

In [428]:
submission['Body Mass (g)'] = pred
submission

      id  Body Mass (g)
0      0       8.352042
1      1       8.626874
2      2       8.165035
3      3       8.136485
4      4       8.199779
..   ...            ...
223  223       8.305999
224  224       8.471139
225  225       8.379374
226  226       8.179198
227  227       8.291695

[228 rows x 2 columns]

In [430]:
submission.to_csv('./submission_1228.csv', index=False)